[Desktop Entry]
Name=Eureka DOOM Editor
GenericName=DOOM Editor
Comment=Edit maps for the game DOOM
Exec=eureka-doom-editor.eureka
Icon=${SNAP}/snap/gui/eureka.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false
MimeType=application/x-doom-wad;
Keywords=doom;heretic;hexen;level;map;wad;editor;builder;yadex;
